<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>12. Ventana servicios completados y materialesutilizados</title>
    <link rel="stylesheet" href="styles0.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo_container">
        <img src="logo.png" alt="Logo" class="logo" />
        <span class="business-name">Plumber++</span>
      </div>
      <ul>
        <li><a href="index.html">Principal</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="store.html">Catálogo</a></li>
        <li><a href="#">Conócenos</a></li>
        <li><a href="#">Únete</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>

    <article>
      <h1>Servicios Finalizados</h1>
      <table>
        <caption>Lista de Servicios</caption>
        <thead>
          <tr>
            <th>Servicio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Servicio 1</td>
          </tr>
          <tr>
            <td>Servicio 2</td>
          </tr>
          <tr>
            <td>Servicio 3</td>
          </tr>
          <tr>
            <td>Servicio 4</td>
          </tr>
          <tr>
            <td>Servicio 5</td>
          </tr>
        </tbody>
      </table>
    </article>

  </body>
</html>
