<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 11.	Ventana notas de servicio</title>
    <link rel="stylesheet" href="styles0.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo_container">
        <img src="logo.png" alt="Logo" class="logo" />
        <span class="business-name">Plumber++</span>
      </div>
      <ul>
        <li><a href="index.html">Principal</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="store.html">Catálogo</a></li>
        <li><a href="#">Conócenos</a></li>
        <li><a href="#">Únete</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>
    
    <article id="notasdeservicio">
      <h2>Notas de servicio del día:</h2>
      <table>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Cantidad</th>
          </tr>
          <tr>
              <td>1</td>
              <td>Producto A</td>
              <td>5</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Producto B</td>
              <td>10</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Producto C</td>
              <td>3</td>
          </tr>
      </table>
  </article>
  </body>
</html>
