<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>13.	Ventanas de vale de refacción</title>
    <link rel="stylesheet" href="styles0.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo_container">
        <img src="logo.png" alt="Logo" class="logo" />
        <span class="business-name">Plumber++</span>
      </div>
      <ul>
        <li><a href="index.html">Principal</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="store.html">Catálogo</a></li>
        <li><a href="#">Conócenos</a></li>
        <li><a href="#">Únete</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>

    <article class="vale-de-refaccion">
      <h2>Vale de Refacción</h2>
      <table class="vale-table">
          <thead>
              <tr>
                  <th>ID Técnico</th>
                  <th>Fecha</th>
                  <th>ID Servicio</th>
                  <th>ID Cliente</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th class="section-label">Cantidad</th>
                  <th colspan="4" class="section-description">Descripción</th>
                </tr>
              <tr>
                  <td>1</td>
                  <td colspan="4">Refacciones</td>
              </tr>  
          </tbody>
      </table>
  </article>
  <a href="link.html" class="download-button">Descargar Vale</a>

  </body>
</html>
