/* Estilos generales */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del main */
main {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de la sección content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos del artículo image-upload */
.image-upload, .image-confirm {
    background-color: #2ecc71;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px dashed #3498db;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.image-placeholder img {
    width: 50px;
    height: 50px;
}

.upload-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #2980b9;
}

.service-number {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilos del artículo image-confirm */
.image-confirm img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.confirm-button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #1e8449;
}

.reject-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reject-button:hover {
    background-color: #c0392b;
}

