<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reporte costos de servicios</title>
		<link rel="stylesheet" href="styles/styles0.css" />
		<link rel="stylesheet" href="styles/styles3.css" />
	</head>
	<body>
		<main>
	 <nav class="navbar" id="navbar">
      <div class="logo_container" id="logo-container">
        <img src="images/logo.webp" alt="Logo" class="logo"/>
        <span class="business-name">Plumber++</span>
      </div>
      <ul class = "menu" id="menu">
		<li><a href="destok.html">Dashboard</a></li>
		<li><a href="manage-users.html">Gestionar Usuarios</a></li>
		<li><a href="manage-tec.html">Gestionar Tecnicos</a></li>
		<li><a href="../technician/materialUsado.html">Gestionar Materiales</a></li>
      </ul>
    </nav> 
	 <nav class="navbar" id="navbar">
      <div class="logo_container" id="logo-container">
        <img src="images/logo.webp" alt="Logo" class="logo"/>
        <span class="business-name">Plumber++</span>
      </div>
      <ul class = "menu" id="menu">
		<li><a href="destok.html">Dashboard</a></li>
		<li><a href="manage-users.html">Gestionar Usuarios</a></li>
		<li><a href="manage-tec.html">Gestionar Tecnicos</a></li>
		<li><a href="../technician/materialUsado.html">Gestionar Materiales</a></li>
      </ul>
    </nav> 
				<div id="encabezado">
					<h1>Reportes de Costos de Servicios</h1>
					<img src="images/logo.webp" alt="Logotipo">
					<div id="periodoTexto">
						<p>Periodo: </p>
						<p id="periodo"></p>
					</div>
				</div>
				<div id="contenido">
					<div id="contenedorTablaPrincipal">
						<table>
							<thead>
								<tr>
									<th>Material</th>
									<th>ID</th>
									<th>Cantiad</th>
									<th>Distribución por tipo de servicio</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
