#destok{
	background-color: #ffe5b4;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 25px;
	padding: 15px;
}

article {
	padding: 0px 10px;
	border-radius: 20px;
	background-color: #f9f9f9e3;
}

section {
	display: grid;
	gap: 5%;
	padding: 5px;
	grid-template-columns: 1fr; /* Una columna */
	grid-template-rows: auto min-content 1fr 1fr; /* Filas con diferentes alturas */
}

section > button {
	border-radius: 10px;
	grid-row: 2;
	width: 100px; /* Ancho del botón */
	height: 40px; /* Altura del botón */
	justify-self: center; /* Alinea el botón horizontalmente en el centro */
	align-self: center; /* Alinea el botón verticalmente en el centro */
}

.button {
  width: 130px; /* Ajusta el ancho del botón */
  height: 45px; /* Ajusta la altura del botón */
  background-color: #fff; /* Fondo blanco */
  border: 2px solid #000; /* Borde negro */
  border-radius: 12px; /* Bordes redondeados */
  color: #000; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.button:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
}

aside{
	display: flex;
	flex-direction: column;
    align-items: center;
}

