<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Imagen</title>
	<link rel="stylesheet" href="../admin/styles/styleMain.css">
    <link rel="stylesheet" href="styles/styleFoto.css">
</head>
<body>
    <div class="container">
        <main>
            <section class="content">
                <article class="image-confirm">
                    <img src="uploaded_image.png" alt="Imagen subida">
                    <p>¿La imagen está bien?</p>
                    <div class="button-container">
                        <button class="confirm-button">Confirmar</button>
                        <button class="reject-button">Rechazar</button>
                    </div>
                    <div class="service-number">No. 0001</div>
                </article>
            </section>
        </main>
    </div>
</body>
</html>

