<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>9.	Venta de confirmar pago</title>
    <link rel="stylesheet" href="styles0.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo_container">
        <img src="logo.png" alt="Logo" class="logo" />
        <span class="business-name">Plumber++</span>
      </div>
      <ul>
        <li><a href="index.html">Principal</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="store.html">Catálogo</a></li>
        <li><a href="#">Conócenos</a></li>
        <li><a href="#">Únete</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>

    <div class="overlay">
      <div class="confirmation-window">
          <h1>Confirmar Pago</h1>
          <a href="link.html" class="confirm-button">Aceptar</a>
      </div>
  </div>
  </body>
</html>
