<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo_container">
        <img src="../../img/logo_A.png" alt="Logo" class="logo" />
        <span class="business-name">Plumber++</span>
      </div>
      <ul>
        <li><a href="../../index.html">Principal</a></li>
        <li><a href="login.html">Iniciar Sesión</a></li>
        <li><a href="../../store.html">Catálogo</a></li>
        <li><a href="">Conócenos</a></li>
        <li><a href="">Únete</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>

    <div class="welcome-container">
      <h1>Bienvenido</h1>
      <p>Inicia sesión</p>
    </div>
    <div class="login-container">
      <div class="tabs">
        <button class="tab-button active" onclick="showForm('user')">
          Usuario
        </button>
        <button class="tab-button" onclick="showForm('admin')">Admin</button>
        <button class="tab-button" onclick="showForm('tech')">Técnico</button>
      </div>

      <div id="user" class="form-container active">
        <form
          id="user-form"
          onsubmit="validateForm('user-form'); return false;"
        >
          <label for="email">Correo Electrónico</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Ingresa tu correo electrónico"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Por favor, ingresa un correo electrónico válido."
          />
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Ingresa tu contraseña"
            required
            pattern=".{6,}"
            title="La contraseña debe tener al menos 6 caracteres."
          />
          <input type="submit" value="Iniciar Sesión" />
        </form>
        <div class="recover-password">
          Olvidaste tu contraseña?
          <a href="recover_pass.html">Recuperar cuenta</a>
        </div>
        <div class="create-account">
          No tienes una cuenta? <a href="create_account.html">Crear cuenta</a>
        </div>
      </div>

      <div id="admin" class="form-container">
        <form
          id="admin-form"
          onsubmit="validateForm('admin-form'); return false;"
        >
          <label for="admin-email">Correo Electrónico</label>
          <input
            type="email"
            id="admin-email"
            name="admin-email"
            placeholder="Ingresa tu correo electrónico"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Por favor, ingresa un correo electrónico válido."
          />
          <label for="admin-password">Contraseña</label>
          <input
            type="password"
            id="admin-password"
            name="admin-password"
            placeholder="Ingresa tu contraseña"
            required
            pattern=".{6,}"
            title="La contraseña debe tener al menos 6 caracteres."
          />
          <input type="submit" value="Iniciar Sesión" />
        </form>
        <div class="recover-password">
          Olvidaste tu contraseña?
          <a href="recover_pass.html">Recuperar cuenta</a>
        </div>
        <div class="create-account">
          No tienes una cuenta? <a href="crear_cuenta.html">Crear cuenta</a>
        </div>
      </div>

      <div id="tech" class="form-container">
        <form
          id="tech-form"
          onsubmit="validateForm('tech-form'); return false;"
        >
          <label for="tech-email">Correo Electrónico</label>
          <input
            type="email"
            id="tech-email"
            name="tech-email"
            placeholder="Ingresa tu correo electrónico"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Por favor, ingresa un correo electrónico válido."
          />
          <label for="tech-password">Contraseña</label>
          <input
            type="password"
            id="tech-password"
            name="tech-password"
            placeholder="Ingresa tu contraseña"
            required
            pattern=".{6,}"
            title="La contraseña debe tener al menos 6 caracteres."
          />
          <input type="submit" value="Iniciar Sesión" />
        </form>
        <div class="recover-password">
          Olvidaste tu contraseña?
          <a href="recover_pass.html">Recuperar cuenta</a>
        </div>
        <div class="create-account">
          No tienes una cuenta? <a href="crear_cuenta.html">Crear cuenta</a>
        </div>
      </div>
    </div>

    <script>
      function showForm(formId) {
        // Ocultar todos los formularios
        const forms = document.querySelectorAll(".form-container");
        forms.forEach((form) => form.classList.remove("active"));

        // Mostrar el formulario seleccionado
        document.getElementById(formId).classList.add("active");

        // Cambiar el botón activo
        const buttons = document.querySelectorAll(".tab-button");
        buttons.forEach((button) => button.classList.remove("active"));
        document
          .querySelector(`[onclick="showForm('${formId}')"]`)
          .classList.add("active");
      }

      function validateForm(formId) {
        const form = document.getElementById(formId);

        const emailInput = document.getElementById("emailInput");
        const emailValue = emailInput.value;

        // Validar el formato del correo electrónico utilizando una expresión regular
        const emailRegex = /^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const isValidEmail = emailRegex.test(emailValue);

        if (form.checkValidity() && isValidEmail) {
          alert("Formulario válido. Enviando...");
        } else {
          if (!isValidEmail) {
            alert("El correo electrónico no es válido.");
          } else {
            alert("Por favor, completa todos los campos correctamente.");
          }
        }
      }
    </script>
  </body>
</html>
